/* Base 스타일 작성 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

a img {
  vertical-align: middle;
}

button {
  cursor: pointer;
}


button:disabled {
  cursor: not-allowed;
}